* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    background-color: rgb(145, 226, 217);
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  form {
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
  }
  input {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    font-size: 22px;
    border: none;
  }
  input:focus {
    outline: none;
  }
  button {
    width: 250px;
    height: 45px;
    padding: 10px;
    margin: auto;
    font-size: 22px;
    cursor: pointer;
    border: none;
    transition: all 1s;
    border-radius: 6px;
    color: hsl(180, 3%, 8%);
  }
  button:hover {
    transform: scale(1.1);
    background: linear-gradient(rgb(183, 180, 123), rgb(252, 17, 17),rgb(196, 203, 8));
      color: hsl(0, 65%, 95%);
  }
  .card {
    width: 250px;
    height: 200px;
    border: 3px solid rgb(77, 7, 228);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .input {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }